
 .header-image {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000000;
}
.ingredient-text {
    text-align: left;
    font-family: 'Courier New', Courier, monospace, serif;
    font-size: 16px;
}
h1, h2, h3 {
    color: rgb(255, 247, 235);
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}
a {
    color: white;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}
body {
    background-color: #e9e6e4;
}
.recipe-list {
    background-color: rgb(63, 93, 145);
    color: rgb(255, 255, 255);
    border: solid black 2px;
    padding: 5px;
    width: 80%;
    height: 40%;
    margin: auto;
}
.centered {
    text-align: center;
    list-style: none;
}
